/* HEADER */
.header {
  background: linear-gradient(180deg, #1e40ff, #1a2fd6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 108px;
  z-index: 1000;
  color: white;
}

/* Giới hạn chiều rộng */
.header-container {
  height: 108px;
  width: 1440px;
  margin: 0 auto;
}

/* TOP BAR */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.top-actions {
  display: flex;
  gap: 30px;
  font-size: 14px;
  white-space: nowrap;
}

/* MENU BAR */
.header-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 24px;
}

.header-menu nav {
  display: flex;
  width: 1157px;
  height: 21px;
  gap: 21px;
  font-size: 12px;
  overflow-x: auto;
  font-weight: 400;
}

.header-menu a {
  cursor: pointer;
  white-space: nowrap;
}

.header-menu a:hover {
  text-decoration: underline;
}
