.banner {
  position: relative;
  width: 100%;
  height: 1260px; /* ✅ đủ cao giống ảnh */
  margin-top: var(--header-height);
  overflow: hidden;
}

.bg {
  object-fit: fill;
  z-index: 7;
}

.overlay {
  position: relative;
  /* z-index: 1; */
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.55) 45%,
    rgba(0, 0, 0, 0.55) 55%,
    rgba(0, 0, 0, 0.25) 100%
  );
  display: flex;
  align-items: flex-start;
  padding-top: 90px;
}

.text {
  color: #fff;
}

.text h1 {
  font-size: 56px;
  font-weight: 600;
  color: #7aa2ff;
}

.text h2 {
  margin-top: 6px;
  font-size: 32px;
  font-weight: 400;
}
